# This workflow will build the application and publish a new release.
# It is triggered by pushes to the protected stable branch used for releases.
# This process is triggered via the GitHub UI using the create-release.yml action.

name: Publish a new release

on:
  push:
    branches: [ "stable" ]

permissions:
  contents: read

jobs:

  sync:
    runs-on: ubuntu-latest
    name: Merge stable branch into master

    steps:
      - uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          ref: master

      - name: Merge stable branch into master
        run: |
          git fetch origin stable:stable
          git merge stable
          git push origin master

  release:
    runs-on: ubuntu-latest
    name: Publish release

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          ref: stable

      - name: Prepare version information
        run:  |
          echo "VERSION=$(php ./bin/get-release-version.php)" >> $GITHUB_ENV

      - name: Print version information
        run: |
          echo "Version: v${{ env.VERSION }}"

      - name: Create a release
        uses: ncipollo/release-action@2c591bcc8ecdcd2db72b97d6147f871fcd833ba5
        with:
          name: v${{ env.VERSION }}
          tag: v${{ env.VERSION }}
          commit: ${{ github.sha }}
          updateOnlyUnreleased: true
          generateReleaseNotes: true
          artifacts: builds/hyde, builds/hyde.sig
